body {
    background-color: blanchedalmond;
    display: flex;
    flex-wrap: wrap ;
    flex-direction: column;
    margin-left: 1 em;
}

.choices {
    background-color: rgba(233, 146, 15, 0.61);
    display: flex;
    flex-direction: row;
    border: 2px darkred;
    border-radius: 1rem;
    padding: 1rem;
    justify-content: space-evenly;



}
.choices__metals.options {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: rgba(223, 214, 202, 0.9);
}
.choices__sizes.options {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: rgba(223, 214, 202, 0.9);
}
.choices__styles.options {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: rgba(223, 214, 202, 0.9);
}
.types {
    display: flex;
    flex-direction: row;
}